@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.outline-text {
  color: #ffffff;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 28s linear infinite;
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.animate-marquee2 {
  animation: marquee2 28s linear infinite;
}

.custom-shadow {
  box-shadow: rgb(0, 0, 0) 0px -30px 40px 20px;
}

@layer components {
  .container {
    @apply relative w-10/12 overflow-x-hidden mx-auto;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
