@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply relative w-10/12 overflow-x-hidden mx-auto ;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center{
    @apply flex items-center justify-between;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
